%p#notice= notice

%p
  %b Title:
  = @project.title
%p
  %b Company:
  = @project.company
%p
  %b Start date:
  = @project.start_date
%p
  %b End date:
  = @project.end_date
%p
  %b Description:
  = @project.description
%p
  %b Technologies:
  = @project.technologies

= link_to 'Edit', edit_project_path(@project)
\|
= link_to 'Back', projects_path
