%p#notice= notice
= render "layouts/flash_errors"

-if signed_in?
	%div.pull-right= link_to 'Edit Post', edit_post_path(@post)

%h2= @post.title
%p.details=raw "by #{link_to "#{@post.user.name}", @post.user} in #{l @post.created_at, format: :post}"
%p= @post.content
%b.tags Tags: 
=raw post_tags(@post)

%hr
%h2= "#{pluralize(@post.comments.length, "Comment")}"
= render @post.comments

%hr
%h2 Add a new comment
= render "comments/form"

=# link_to 'Back', posts_path
