%p#notice= notice

%p
  %b Name:
  = @post.name
%p
  %b Title:
  = @post.title
%p
  %b Content:
  = @post.content
%p
  %b Tags:
  = @post.list_tags

%hr
%h2 Comments:
= render @post.comments

%hr
%h2 Add a Comment:
= render "comments/form"


= link_to 'Edit', edit_post_path(@post)
=# link_to 'Back', posts_path
