%p#notice= notice
= render "layouts/flash_errors"

-if signed_in?
	%div.pull-right=raw "#{link_to 'edit', edit_post_path(@post)} | #{link_to 'delete', @post, :confirm => 'Are you sure?', :method => :delete}"

%h2= @post.title
-# by #{link_to "#{@post.user.name}", @post.user} in
%p.details=raw "#{l @post.created_at, format: :post}"
%p=raw @post.content
%b.tags Tags: 
=raw post_tags(@post)

%hr
%h2= "#{pluralize(@post.comments.length, "Comment")}"
= render @post.comments

%hr
%h2 Add a new comment
= render "comments/form"

=# link_to 'Back', posts_path
