%h1 Posts

- if @posts.empty?
	%p No posts
- else
	- @posts.each do |post|
		%article
			%h3= link_to post.title, post
			%p.details=raw "by #{link_to "#{post.user.name}", post.user} in #{l post.created_at, format: :post}"
			%p= post.content
			%p.tags=raw "tags: " + post_tags(post)
			%p.comments= pluralize(post.comments.length, "comment") + "."