!!! html
%html
	%head
		%title= @title || 'Adrian Mejia - Blog'
		=# stylesheet_link_tag "application"
		-# TODO try cache multiple css
		= stylesheet_link_tag "layout"
		= stylesheet_link_tag "twitter/bootstrap"
		= stylesheet_link_tag "twitter/bootstrap-responsive"
		= csrf_meta_tags
		=raw '<meta name="viewport" content="width=device-width, initial-scale=1.0">'
		%meta{name: "description", description: "#{@meta_description or "Adrian Mejia's blog related to his work experiences in software engineering, web development, technologies, web frameworks and so on."}"}
	%body
		%div.container
			%header
				%nav
					%ul{:class => "nav nav-pills"}
						%li{:class => active?(@title, "Home") }= link_to "Home", root_path
						%li{:class => active?(@title, "Portfolio") }= link_to "Portfolio", portfolio_path
						%li{:class => active?(@title, "Blog") }= link_to "Blog", blog_path
						%li{:class => active?(@title, "About") }= link_to "About", about_path
						%li{:class => active?(@title, "Contact") }= link_to "Contact", contactme_path
						- if signed_in?
							%li{:class => active?(@title, "Admin") }= link_to "Admin", admin_index_path
						- else
							%li{:class => active?(@title, "Login") }= link_to "Login", login_path

			%section.container#main-content
				%div.row-fluid
					%div.span8
						-# <!--Body content-->
						= yield
						
						%h2=link_to "~/posts/preview", posts_path
						= render "posts/index"
						
					%div.span4
						-# <!--Sidebar content-->
						%nav
							- if @recent_posts and @recent_posts.any?
								%ul.nav.nav-list
									%h2= link_to "~/posts/recent", posts_path
									- @recent_posts.each do |post|
										%li= link_to "#{post.title}", post
									%strong=raw "#{link_to "all posts...", posts_path }"
							- if request.path == root_path
								%ul.nav.nav-list
									%h2= link_to "~/projects/latest", about_path
									%li= link_to "TODO", "#"
								%ul.nav.nav-list
									%h2= link_to "~/about", about_path
									= render "about/about"
							- if signed_in?
								%ul.nav.nav-list
									%h2 ~/admin
									%li= link_to "Profile", current_user
									%li= link_to "Create a Post", new_post_path
									%li= link_to "View messages", contacts_path
									%li= link_to "Logout", logout_path
			%footer
				%hr
				= "Copyright © 2011-#{Time.now.year} by "
				= link_to "Adrian Mejia", "http://adrianmejia.com"
				· All Rights Reserved.
		
			
			- if Rails.env.development?
				%hr
				= debug(params) 			
				%br
				= debug(flash)
				%br
				=# debug(request.host)
				=# debug(request.domain)
				= debug(request.url)
				= debug(request.remote_ip)
				
		= javascript_include_tag "twitter/bootstrap"
		= javascript_include_tag "application"
		= render 'layouts/googleanalytics'
		=# auto_discovery_link_tag(:rss, {:action => "feed"},{:title => "RSS Feed"}) # TODO add RSS feed
